<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welltrail | New Injury Consult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="img/logo.png" /></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <img class="user-picture" src="img/profile.png" />
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="user-name">John Smith</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="change_password.html"><i class="fa fa-fw fa-gear"></i> Change Password</a></li>
                        <li><a href="login.html"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
            
        </nav>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="dashboard.html"><span class="sidebar-icon i01"></span>Dashboard</a>
                </li>

                <li class="sidebar-section">CREATE</li>
                <li><a href="create_employee.html"><span class="sidebar-icon i02"></span>Create Employee</a></li>
                <li><a href="create_contact.html"><span class="sidebar-icon i03"></span>Create Contact</a></li>
                <li><a href="health_consult.html"><span class="sidebar-icon i04"></span>New Health Consult</a></li>
                <li class="active"><a href="injury_consult.html"><span class="sidebar-icon i05"></span>New Injury Consult</a></li>
                <li><a href="opportunity_consult.html"><span class="sidebar-icon i06"></span>New Opportunity Consult</a></li>
                <li><a href="proactive_consult.html"><span class="sidebar-icon i07"></span>New Proactive Consult</a></li>
                <li><a href="well_credit_consult.html"><span class="sidebar-icon i08"></span>New Well Credit Consult</a></li>
                
                <li class="sidebar-section">EDIT</li>
                <li><a href="edit_employee.html"><span class="sidebar-icon i09"></span>Edit Employee</a></li>
                <li><a href="delete_employee.html"><span class="sidebar-icon i10"></span>Delete Employee</a></li>
                <li><a href="close_contact.html"><span class="sidebar-icon i11"></span>Close Contact</a></li>
                <li><a href="edit_health_consult.html"><span class="sidebar-icon i12"></span>Edit Health Consult</a></li>
                <li><a href="edit_injury_consult.html"><span class="sidebar-icon i13"></span>Edit Injury Consult</a></li>
                <li><a href="edit_opportunity_consult.html"><span class="sidebar-icon i14"></span>Edit Opportunity Consult</a></li>
                <li><a href="edit_proactive_consult.html"><span class="sidebar-icon i15"></span>Edit Proactive Consult</a></li>
                <li><a href="data_export.html"><span class="sidebar-icon i16"></span>Export</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="content-header row">
                    <h1>New Injury Consult</h1>
                </div>
                <div class="content-body row">
                    <div class="col-sm-12">
                        <form id="create-employee">
                            <div class="form-section">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h3>Client Information</h3>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Client</label><br />
                                                    <select>
                                                        <option value="" disabled selected>Select Client</option>
                                                        <option value="" >Lorem Ipsum</option>
                                                        <option value="" >Dolor Sit Amet</option>
                                                    </select>
                                                    <!-- <input type="text" name="nama" class="form-control" /> -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Location</label><br />
                                                    <select>
                                                        <option value="" disabled selected>Select Location</option>
                                                        <option value="" >Lorem Ipsum</option>
                                                        <option value="" >Dolor Sit Amet</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Contact ID</label><br />
                                                    <select>
                                                        <option value="" disabled selected>Select Contact</option>
                                                        <option value="" >Lorem Ipsum</option>
                                                        <option value="" >Dolor Sit Amet</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="checkbox" name="medical-care" value="true"><span class="checkbox-label">Under Medical Care</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-section">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="consult-list">
                                            <li id="info-btn" class="active">Info</li>
                                            <li id="topic-btn">Topics</li>
                                            <li id="soap-btn">SOAP</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8">
                                        <div id="info">
                                            <input type="checkbox" name="" value=""><span class="checkbox-label">Work vs. Non Work - Check for work</span><br/>
                                            <input type="checkbox" name="" value=""><span class="checkbox-label">Existing vs. Pre Existing - Check for Existing</span><br/>
                                            <div class="line-separator"></div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>MOI</label><br />
                                                        <textarea/></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="line-separator"></div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Acute</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Overuse</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Stretching</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Chronic</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Twisting</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Slip/Fall</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Blunt Trauma</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Sheer Force</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Equipment</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Caught Between</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Exertion</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Other</span><br/>
                                                </div>
                                            </div>
                                            <div class="line-separator"></div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Pain Level</label><br />
                                                        <select>
                                                            <option value="" disabled selected>Select Pain Level</option>
                                                            <option value="" >Lorem Ipsum</option>
                                                            <option value="" >Dolor Sit Amet</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Acute</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Overuse</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Stretching</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Chronic</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Twisting</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Slip/Fall</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Blunt Trauma</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Sheer Force</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Equipment</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Caught Between</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Exertion</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Other</span><br/>
                                                </div>
                                            </div>
                                            <div class="line-separator"></div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Acute</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Overuse</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Stretching</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Chronic</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Twisting</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Slip/Fall</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Blunt Trauma</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Sheer Force</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Equipment</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Caught Between</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Exertion</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Other</span><br/>
                                                </div>
                                            </div>
                                            <div class="line-separator"></div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Acute</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Overuse</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Stretching</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Chronic</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Twisting</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Slip/Fall</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Blunt Trauma</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Sheer Force</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Equipment</span><br/>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Caught Between</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Over Exertion</span><br/>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">Other</span><br/>
                                                </div>
                                            </div>
                                            <div class="line-separator"></div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Lost Time</label><br />
                                                        <input type="text" name="lost-time" class="form-control" />
                                                    </div>
                                                    <input type="checkbox" name="" value=""><span class="checkbox-label">MD Seen</span><br/>
                                                    <div class="form-group">
                                                        <label>Body Part</label><br />
                                                        <select>
                                                            <option value="" disabled selected>Select Body Part</option>
                                                            <option value="" >Lorem Ipsum</option>
                                                            <option value="" >Dolor Sit Amet</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Injury Type</label><br />
                                                        <select>
                                                            <option value="" disabled selected>Select Injury Type</option>
                                                            <option value="" >Lorem Ipsum</option>
                                                            <option value="" >Dolor Sit Amet</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Severity Rate</label><br />
                                                        <select>
                                                            <option value="" disabled selected>Select Severity Rate</option>
                                                            <option value="" >Lorem Ipsum</option>
                                                            <option value="" >Dolor Sit Amet</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Pain Rate</label><br />
                                                        <select>
                                                            <option value="" disabled selected>Select Pain Rate</option>
                                                            <option value="" >Lorem Ipsum</option>
                                                            <option value="" >Dolor Sit Amet</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Improvement Level</label><br />
                                                        <select>
                                                            <option value="" disabled selected>Select Improvement Level</option>
                                                            <option value="" >Lorem Ipsum</option>
                                                            <option value="" >Dolor Sit Amet</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="topic">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="checkbox" name="injury-topic" value="general"><span class="checkbox-label">General Conditions</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="head"><span class="checkbox-label">Head</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="face"><span class="checkbox-label">Face</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="neck"><span class="checkbox-label">Neck</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="shoulders"><span class="checkbox-label">Shoulders / Upper Back</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="arm"><span class="checkbox-label">Arm / Elbow</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="wrist"><span class="checkbox-label">Wrist / Hand</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="trink"><span class="checkbox-label">Trink / Chest Abs</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="lumbar-spine"><span class="checkbox-label">Lumbar Spine</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="hip"><span class="checkbox-label">Hip / Pelvis</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="sensory"><span class="checkbox-label">Knee</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="lower-leg"><span class="checkbox-label">Lower Leg</span><br/>
                                                    <input type="checkbox" name="injury-topic" value="ankle"><span class="checkbox-label">Ankle / Foot</span><br/>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="soap">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="checkbox" name="health-topic" value="soap-notes"><span class="checkbox-label">SOAP NOTES</span><br/>
                                                    <input type="checkbox" name="health-topic" value="S-Subjective"><span class="checkbox-label">S-Subjective</span><br/>
                                                    <input type="checkbox" name="health-topic" value="O-Objective"><span class="checkbox-label">O-Objective</span><br/>
                                                    <input type="checkbox" name="health-topic" value="A-Assessment"><span class="checkbox-label">A-Assessment</span><br/>
                                                    <input type="checkbox" name="health-topic" value="P-Plan"><span class="checkbox-label">P-Plan</span><br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-section">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h3>Follow Up Notes</h3>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="checkbox" name="follow-up" value="true"><span class="checkbox-label">Follow Up</span>
                                                <textarea/></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <button type="button" class="btn btn-submit right">Create</button>
                                <button type="button" class="btn btn-cancel right">Cancel</button>
                                <div class="clear"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/jquery.nanoscroller.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#info-btn").click(function(){
        $(".consult-list li").removeClass("active");
        $(this).addClass("active");
        $("#info").fadeIn();$("#topic").fadeOut();$("#soap").fadeOut();
    })
    $("#topic-btn").click(function(){
        $(".consult-list li").removeClass("active");
        $(this).addClass("active");
        $("#info").fadeOut();$("#topic").fadeIn();$("#soap").fadeOut();
    })
    $("#soap-btn").click(function(){
        $(".consult-list li").removeClass("active");
        $(this).addClass("active");
        $("#info").fadeOut();$("#topic").fadeOut();$("#soap").fadeIn();
    })
    </script>

</body>

</html>
